<h1>Addresses</h1>
<% if @addresses.length() > 0 %>
    <% @addresses.each do |address| %>
        <div class="address" >
            <h3> <%= address.name%> </h3>
            <p>Address:<br> <%= address.address%> </p>
            <%= link_to "See whole address", address_path(address), :class => 'btn' %>
        </div>
    <% end %>
<% else %>
    <p>It looks like there are no addresses, add one <%= link_to "here", new_address_path, :class => 'btn'%><p>
<% end %>