<h1>Addresses</h1>
<% @addresses.each do |address| %>
    <div class="address" >
        <%= address.name%><br>
        <%= address.address%><br>
        <%= link_to "See whole address", address_path(address), :class => 'btn' %>
    </div>
<% end %>